@import 'fonts';

body {
    font-family: 'Lato', sans-serif !important;
}

.btn {
    &.btn-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color-dark);
        border-color: var(--background-color-dark);
        &:hover {
            background-color: var(--hover-background-color-dark);
            border-color: var(--hover-background-color-dark);
        }
    }
    &:disabled {
        background-color: var(--background-color-dark) !important;
        border-color: var(--background-color-dark);
    }

    .btn-spinner {
        --bs-spinner-height: 1.5rem !important;
        --bs-spinner-width: 1.5rem !important;
    }
}
