:root {
    --main-border-radius: 10px;
    --main-padding: 10px;
    --font-size: 14px;
    --font-weight-bold: bold;
    --background-color-white: white;
    --border-color-dark: #1e293b;
    --border-color-gray: #dddddd;
    --color-dark: #1e293b;
    --background-color-dark: #1e293b;
    --hover-background-color-dark: #334155;
    --hover-border-color-dark: #334155;
    --send-btn-background: #0c4a6e;
    --hover-send-btn-background: #0369a1;
    --send-btn-width: 167px;
    --edit-btn-background: #1e293b;
    --btn-text-margin-left: 4px;
    --color-black: black;
}
